<!-- Validation failure messages -->
<% if @score.errors.any? %>
  <% @score.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Score #<%= @score.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_score/<%= @score.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @score.user_id %>">
      </div>

      <!-- Label and input for poster_score -->
      <div class="form-group">
        <label for="poster_score" class="control-label">
          Poster score
        </label>

        <input type="text" id="poster_score" name="poster_score" placeholder="Poster score" class="form-control" value="<%= @score.poster_score %>">
      </div>

      <!-- Label and input for rater_score -->
      <div class="form-group">
        <label for="rater_score" class="control-label">
          Rater score
        </label>

        <input type="text" id="rater_score" name="rater_score" placeholder="Rater score" class="form-control" value="<%= @score.rater_score %>">
      </div>

      <button class="btn btn-warning">
        Update Score
      </button>
      or
      <a href="/scores/<%= @score.id %>">Cancel</a>
    </form>
  </div>
</div>
